p{
    /* Border */
    border: 2px solid blue;
    /* Content */
    width: 50%;
    height: 20%;
    /* Padding */
    padding-left: 30px;
    /* margins */
    /* margin: 20px 30px 54px 30px; */

    margin: 20px auto;

}
td{
    border-collapse: collapse;
    width: 100px;
    height: 100px;
    border: solid 3px black;
}

table{
    border-collapse: collapse;
    margin: 30px auto;
}

.nl{
    border-left-width: 0px;
}

.nt{
    border-top-width: 0px;
}

.nb{
    border-bottom-width: 0px;
}

.nr{
    border-right-width: 0px;
}