
body{
    font-size: 10px;
}

p{
    font-family: 'Roboto';
    font-size: 2em;
    line-height: 1.5;
}
h1{
    font-family: 'Source Code Pro';
    font-size: 10em;
    font-weight: bold; 
    /* 100-800 */
    text-align: center;
}
span{
    font-size: 2em;
}
p:nth-of-type(2){
    text-decoration: line-through;
}